@import "./variable.css";
#ability {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
  h1 {
    grid-column: 1/3;
    text-align: center;
  }
}

.ability-left {
  width: 100%;
  position: relative;
  display: grid;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.add-animation {
  animation: rotate 2s calc(0.1s * var(--id)) forwards;
}

.icons {
  left: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--time-2);
  z-index: 1;
  &:hover {
    img {
      scale: 0.8;
      opacity: 0.75;
    }
  }
}

.icons-item {
  bottom: 45%;
  left: -2svw;
  grid-row: inherit;
  opacity: 0;
  position: absolute;
  aspect-ratio: 1;
  rotate: calc(360deg / 10 * var(--id));
  transform-origin: 20svw;
  &:hover {
    img {
      scale: 1.5;
      opacity: 1;
    }
  }
  & > img {
    width: clamp(0.75rem, 5svw, 8rem);
    rotate: calc(-360deg / 10 * var(--id));
    transition: all var(--time-2);
    z-index: 2;
  }
}

.ability-right {
  width: 100%;
}

.container-brain {
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.content-ability {
  position: relative;
  padding: 2rem 1.75rem;
  text-align: center;
  ul {
    li {
      transition: all var(--time-2);
      opacity: 1;
      scale: 1;
      padding: 0.5rem;
    }
    &:hover > li {
      opacity: 0.75;
      scale: 0.8;
    }
    & > li {
      &:hover {
        cursor: default;
        scale: 1.2;
        opacity: 1;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 30px;
    background-color: var(--color-first);
    border-radius: 50px;
    opacity: 0.25;
    z-index: -1;
  }
}
@keyframes goBack {
  100% {
    opacity: 1;
    scale: 1;
  }
}
@media (max-width: 750px) {
  #ability {
    grid-template-columns: 1fr;
    h1 {
      grid-column: 1;
    }
  }
  .ability-left {
    width: 100%;
    grid-row: 2;
  }
  .ability-right {
    grid-row: 3;
  }
  .icons-item {
    left: 0svw;
    transform-origin: 35svw;
    img {
      width: 10svw;
    }
  }
}
