@import "./variable.css";

.home {
  margin-top: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 0.75rem;
  padding: 1.75rem;
  height: auto;
  border-radius: 20px;
}

.home-left {
  --border: 20px;
  --padding: 50px;
  position: relative;
  border-radius: var(--border);
  z-index: 10;
  text-align: justify;
  width: 100%;
  z-index: -1;
  background-color: var(--color-second);
  opacity: 0.75;
  padding: var(--padding);
  box-shadow: 0px 0px 20px var(--color-second);
}

.context {
  position: relative;
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-rows: repeat(2, min-content);
  gap: 25px;
}

.home-right {
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

@media (width < 750px) {
  .home {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .home-left {
    padding: 10px;
  }
  .card {
    grid-template-rows: 1fr min-content min-content;
  }
  .context {
    gap: 10px;
    & > p {
      padding: 0;
    }
  }
}

.card {
  position: relative;
  border-radius: 10px;
  grid-template-rows: repeat(3, min-content);
  & > h1,
  h2 {
    width: 100%;
    text-align: center;
    font-size: clamp(var(--font-s), 5vw, var(--font-l));
    text-shadow: 0 0 5px var(--color-black);
  }
  & > h2 {
    font-size: clamp(var(--font-xs), 3vw, var(--font-m));
    width: 90%;
  }
}
.card-head {
  display: grid;
  place-items: center;
  width: clamp(5rem, 100%, 20rem);
  border-radius: 10px;
}
