@import "./home.css";
@import "./variable.css";
@import "./navbar.css";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Joan";
  /* outline: 1px solid red; */
}

ul {
  list-style-type: none;
}

body {
  background-image: url("../assets/bg_2.png");
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  overflow-x: hidden;
  padding-inline: 8svw;
  height: 200svh;
}

@media (width < 750px) {
}

::-webkit-scrollbar {
  width: 0;
}
